<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <link rel = 'stylesheet' href='/app.css' type ='text/css'>
    <title>edit ejs</title>
  </head>
  <body>
    <h1>EDIT Page</h1>
  <nav>
    <a href="/store/">HOME</a>
    <a href="/store/blog">BLOG</a>
    <a href="/store/new">CUSTOMIZE YOUR OWN</a>
  </nav>



  <form>
    Color: <input type="text" name="Color" value="<%=newOrders.color%>" /><br/>
    Text: <input type="text" name="Text" value="<%=newOrders.text%>" /><br/>
    Email: <input type="text" name="Email" value="<%=newOrders.email%>" /><br/><br>

    <input type="submit" name="" value="UPDATE CHANGES"/></a>
  </form>
  </body>
</html>
