<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel = 'stylesheet' href='/app.css' type ='text/css'>
    <title>edit ejs</title>
  </head>
  <body>
    <h1>EDIT Page</h1>
  <nav>
    <a href="/store/">HOME</a>
    <a href="/store/blog">BLOG</a>
    <a href="/store/new">CREATE YOUR OWN</a>
  </nav>

    <a href="/store/"> <input type="submit" name="" value="Back to All Items"/></a><br>
    <br>

    <form action="/store"; %>?_method="DELETE" method="POST">
    <a href="/store/"> <input type="submit" value="Delete from cart"/></a><br>
    </form>
    <br>

  </body>
</html>
