<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel = 'stylesheet' href='app.css' type ='text/css'>
    <title>new page</title>
  </head>
  <body>
    <h1>Add your pool floats to our site!</h1>
    <form action="/store" method="POST">

        Item: <input type="text" name="title" /><br/><br>
        Price: <input type="text" name="entry" /><br/><br>
        Quanity: <input type="text" name="entry" /><br/><br>
        <input type="submit" name="" value="Add Item"/><br><br>
        <a href="/store/edit"><input type="submit" name="" value="My Cart"/></a><br>
    </form>
  </body>
</html>
