<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel = 'stylesheet' href='/app.css' type ='text/css'>
    <title>new page</title>
  </head>

    <nav>
      <a href="/store/">SHOP</a>
      <a href="/store/blog">BLOG</a>
      <a href="/store/new">CREATE YOUR OWN</a>
    </nav>

  <body>
    <h1>Customize your own pool float!</h1>

<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 4</div>
    <img src="https://images.horchow.com/ca/3/product_assets/H/B/B/T/K/HCHBBTK_mu.jpg" style="width:75%">
  </div>
<div class="mySlides fade">
    <div class="numbertext">2 / 4</div>
    <img src="https://www.pngkit.com/png/detail/550-5506779_mermaid-pattern-pool-float-by-mimosa-inc-inflatable.png" style="width:50%">
</div>
<div class="mySlides fade">
    <div class="numbertext">3 / 4</div>
    <img src="https://s3.amazonaws.com/gg-website-assets/wp-content/uploads/2018/05/05105013/50173749.jpeg" style="width:75%">
</div>
<div class="mySlides fade">
    <div class="numbertext">4 / 4</div>
    <img src="https://cfcdn.zulily.com/images/cache/product//350278/zu70925706_main_tm1551400776.jpg" style="width:50%">
</div>
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
  </div>
</div>

  <br>
    <h2>It's easy, fill out the form below and submit. Please do not forget the email address so we can reach out to you once your order has been accepted! </h2>
    <h3>Please note the photos shown on page are samples from recent orders. All custom floats are the basic donut style and one size. Once you recieve the conformation email you will be provided with a link to your updated cart for checkout.</h3>
    <h4>DESCRIPTION</h4>
    <ul>
      <li>
        All Custom Floaties are FINAL SALE
      <li>
        Vinyl pool float
      <li>
        Wipe clean
      <li>
        Measures approx 50"cin diameter
      <li>
        Not to be used as a flotation device for rescue
      <li>
        Imported
      <li>
        Text can be up to three words & font will be  Sans Serif
        </li>
          </ul>
      <h3> $45 </h3>
    <form action="/store" method="POST">

      <div class="checkbox">
        Cursive: <input type="checkbox" name="font option" />
        All CAPS: <input type="checkbox" name="font option" />
        Glitter: <input type="checkbox" name="Gliter Color" />
        Pokadots: <input type="checkbox" name="Pokadots" /><br/><br>

        Color: <input type="text" name="Color" /><br/><br>
        Text: <input type="text" name="Text" /><br/><br>
        Email: <input type="text" name="Email" /><br/>
        <a class="addToCart" href="/store/edit"> <input type="submit" name="" value="SUBMIT"/></a>
      </div>
    </form>
  </body>
</html>
