<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel = 'stylesheet' href='/app.css' type ='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>show ejs</title>
  </head>
  <body>
    <h1>Float Details</h1>
    <nav>
      <a href="/store/">SHOP</a>
      <a href="/store/blog">BLOG</a>
      <a href="/store/new">CUSTOMIZE YOUR OWN</a>
    </nav>
    <br>
    <br>

<div>
  <h2><%=allProducts.name%></h2>
  <img class="productImg" src="<%=allProducts.img%>"></img>
  <h3>$<%=allProducts.price%></h3>
  <h3>DESCRIPTION</h3>
      <ul>
        <li>
          Vinyl pool float
        <li>
          Wipe clean
        <li>
          Not to be used as a flotation device for rescue
        <li>
          Imported
        <li>
          Includes repair patch in case of punctures
        </li>
        </ul>

    <%=console.log(allProducts)%>
    
</div>

  </body>
</html>
