<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel = 'stylesheet' href='/app.css' type ='text/css'>

    <title>show ejs</title>
  </head>
  <body>
    <ul>
      <li><a href="/store/">SHOP</a></li>
      <li><a href="/store/blog">BLOG</a></li>
      <li><a href="/store/new">CUSTOMIZE YOUR OWN</a></li>
    </ul>
    
    <br>
    <h1>Float Details</h1>
    <br>

<div>
  <h2><%=allProducts.name%></h2>
  <img class="productImg" src="<%=allProducts.img%>"></img>
  <h3>$<%=allProducts.price%></h3>
  <h3>DESCRIPTION</h3>
      <ul>
        <li>
          Vinyl pool float
        <li>
          Wipe clean
        <li>
          Not to be used as a flotation device for rescue
        <li>
          Imported
        <li>
          Includes repair patch in case of punctures
        </li>
        </ul>

    <%=console.log(allProducts)%>

</div>

  </body>
</html>
