<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>show ejs</title>
  </head>
  <body>
    <h1> Show item you clicked on in this page, offers to edit the product, delete</h1>

    <a href="/store/"> <input type="submit" name="" value="Back to All Items"/></a><br>
    <br>
    <a href="/store/edit"> <input type="submit" name="" value="Edit your cart"/></a><br>
    <br>
    <a href="/store/show"> <input type="submit" name="" value="Buy current items"/></a><br><br>

    <form action="/store"; %>?_method="DELETE" method="POST">
    <a href="/store/"> <input type="submit" value="Delete current item"/></a><br>
    </form>
  </body>
</html>
